@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: black;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:hover{
    color: #ff5c5c;
}

body {
    max-width: 1600px;
    margin : 0 auto;
    overflow-x:hidden;
    font-family: "S-CoreDream-3Light";
}

    .main_container {
        width: 1600px;
        margin: 0 auto;
    }


    .main_container .slide_wrap {
        padding : 2rem;
        border-bottom: 1px solid #ddd;
    }

    .main_container .slide_wrap .slide img{
        margin: 0 auto;
        width : 100%;
    }

    .main_container .intro_wrap {
        border: 3px solid #ff5c5c;
        padding : 30px;
        width: 90%;
        margin : 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main_container .intro_wrap .intro_txt {
        font-family: "BookkMyungjo-Bd";
        font-size : 20px;
        line-height: 1.8rem;
    }

    .main_container .intro_wrap .intro_play {
        text-align: center;
        height: 100%;
    }

    .main_container .intro_wrap strong{
        color : red;
    }

    .main_container .contents_wrap img {
        width: 300px;
        height: 100px;
    }

@media screen and (max-width: 768px) {
    .main_container {
        max-width: 600px;
        margin: 0 auto;
    }
    .main_container .slide_wrap img{
        width: 700px;
        height: 300px;
    }

    .main_container .contents_wrap img{
        width: 50%;
        height: 50%;
    }
}